<h1><%=@pet.name%></h1>
<p><%=@pet.name%> is a <%=@pet.species%></p>
<p><%=@pet.name%>'s owner is <%=link_to "#{@pet.owner.first_name}", owner_path(@pet.owner), method: :get%></p>
<%= button_to "Edit #{@pet.name}", edit_pet_path, method: :get%>
<%= button_to "Delete #{@pet.name}", "/pets/#{@pet.id}/delete", method: :delete%> <br>
<%= button_to "Return to Pets page", pets_path, method: "get" %>
